.App {
  text-align: center;
}

#xxx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

output {
    padding: 30px;
    display: block;
    color: red;
    font-size: 40px;
}

#xbtn {
    margin: 20px;
}

